
.tdProgramsAdmin{
	
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	height: 50px;
	
}
.tdBookAdmin{
	
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	
}