/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f8f8f8;
}

/*styling picture for main page*/
.jumbotron {
	background-image: url(images/jumbo4.jpg);
	background-size: cover; 
	height: 800px;
	background-color: #f8f8f8;
	color: White;
}

/*styling header over banner*/
.mainpage > h1 {
    margin: 0;
    font-size: 7em;
    color: #f8f8f8;
    text-align: center;
    font-weight: 550;
}

/*styling paragraph over banner*/
.mainpage > p {
	text-align: center;
	font-style: italic;
	color: #337ab7;
	text-shadow: 2px 2px 3px rgba(0,0,0,1.6);
}

/*navigation bar. changed background color of the bar and text color*/
.navbar {
	background-color: #f8f8f8;
	color: Black;
}

/*change text link for color on active (or when its staying still)*/
.navbar-inverse .navbar-nav > li > a {
	font-size: 1.1em;
	color: Black;
}

/*change text LINK COLOR ON HOVER*/
.navbar-inverse .navbar-nav > li > a:hover {
	color: #f8f8f8;
	background-color: #337ab7;
}

/*styling name logo on top left "TEAM EAGLE Example"*/
.navbar-inverse .navbar-brand {
	font-weight: 600;
	color: #337ab7;
}

/*style for on hover of top left text logo^^^*/
.navbar-inverse .navbar-brand:hover{
	color: #337ab7;
}


h2 {
	color: #337ab7;
}

.mainPageBannerText {
	font-size: 2em;
	color: #337ab7;	
	text-shadow: 1px 1px 2px rgba(0,0,0,1.6);
}

.mainPageBannerNumber {
	font-size: 4em;
	font-style: italic;
	color: #f8f8f8;	
	text-shadow: 1px 1px 2px rgba(0,0,0,1.6);

}

.mainpagetextlarge {
	text-align: center;
}

.row-padding{
    padding-top: 30px;
    padding-bottom:  30px;
}

.form-group{
	padding-top: 275px;
	padding-bottom: 200px;
}
